.logo-img {
    height: 10vh;
    width: 6vw;
    margin-left: 15px;
}

body {
    margin: 0;
    padding-top: 13vh;
}

.nav-bar {
    background-color: #053545;
}

#nav-bar1 {
    height: 10vh;
}

#nav-heading {
    color: white;
    padding: 18px;
    font-size: 20px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.icons {
    height: 8vh;
    width: 2.5vw;
    padding-right: 15px;
    color: white;
}

.offer {
    background-color: #ffde59;
    height: 5vh;
}

.offer-heading {
    font-size: 20px;
    text-align: center;
    padding-top: 5px;
    font-weight: bold;
}

.banner-container {
    background-image: url("./banner.jpg");
    height: 100vh;
    background-size: cover;
}

.banner-heading {
    font-size: 45px;
    color: black;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.banner-paragraph {
    font-size: 25px;
    color: black;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.banner-btn {
    color: white;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #053545;
    padding: 15px;
    border-radius: 20px;
    margin: 10px;
}

#trending {
    scroll-margin-top: 100px;
}

.collection-section {
    background-color: #F8F6F3;
}

.collection-head {
    color: #342719;
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
    text-align: center;
    scroll-margin-top: 100px;
    margin-bottom: 5vh;
}

.collection-card {
    text-align: center;
}

.collection-heading {
    color: #342719;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;

}

.collection-paragarph {
    color: #342719;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

.collection-price {
    color: #857D75;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

.collection-img {
    height: 45vh;
    width: 95%;
}

.anchor {
    text-decoration: none;
}

.trending-collectio-btn {
    color: white;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #053545;
    padding: 15px;
    border-radius: 20px;
    margin: 10px;
}

.collection-second-banner {
    height: 80vh;
    width: 100%;
    margin: 15px;
    object-fit: contain;
}

.collection-second-heading {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background-color: #857D75;
    padding-top: 0px;
}

.banner-img {
    height: 75vh;
    text-align: center;
}

.collection-section-card{
   background-color: ;
}
.banner-img-headind{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #857D75;
    margin-right: 100px;
}